*{ box-sizing: border-box; }
html{ scroll-behavior: smooth; }
body{
	margin: 0;
	color: #000;
	font-size: 16px;
	font-family: 'roboto', sans-serif;
	overflow-x: hidden;
}
.container{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 0 16px;
}
img{ 
	width: 100%; 
	display: block;
}
.rounded{ border-radius: 100px !important; }
/*display*/
.d-flex{ display: flex; }
.d-block{ display: block !important; }
.d-lg-none{ display: none !important; }
/*flex*/
.align-center{ align-items: center; }
.justify-between{ justify-content: space-between; }
.justify-center{ justify-content: center; }
.justify-end{ justify-content: flex-end; }
.flex-wrap{ flex-wrap: wrap; }
/*background*/
.bg-orange{ background-color: rgb(241,188,54); }
.bg-blue{ background-color: rgb(22,169,183); }
.bg-red{ background-color: rgb(248,133,125); }
.bg-white{ background-color: #fff !important; }
.bg-silver{ background-color: #f4f4f4 !important; }
.bg-dark-grey{ background-color: rgb(84,106,123) !important; }
.bg-img{ 
	background-image: url('../img/consultan.png');
	background-size: cover;
	background-position: center;
}
/*spacing*/
.pa-2{ padding: 8px; }
.py-6{ padding: 3rem 0 !important; }
.mr-1{ margin-right: .5rem; }
.mb-1{ margin-bottom: .5rem !important; }
.mb-3{ margin-bottom: 1.5rem; }
.mb-5{ margin-bottom: 2.5rem; }
.mb-6{ margin-bottom: 6rem; }
/*text*/
.text-uppercase{ text-transform: uppercase; }
.text-center{ text-align: center; }
.text-justify{ text-align: justify; }
.text-white{ color: #fff; }
.text-orange{ color: rgb(241,188,54); }
.text-grey{ color: grey; }
.text-error{ color: red; }
.text-red{ color: rgb(248,133,125) !important; }
.headline{
	font-size: 2rem;
	font-weight: bold;
}
.title{
	font-size: 1.25rem;
	font-weight: bold;
}
.caption{
	font-size: 12px;
	color: grey;
}
.line{
	width: 60px;
	height: 1px;
	display: inline-block;
	border: 1px solid rgb(241,188,54);
	position: relative;
	bottom: .5rem;
	margin: 0 16px;
}
.line.normal{
	width: 40px;
	border: 1px solid #fff;	
	bottom: .25rem;
}
.line.black{ border: 1px solid #000; }
.font-weight-normal{ font-weight: normal; }
/*form*/
.form-control{
	display: flex;
	padding: 4px 8px;
	margin: 4px 0;
	border: 1px solid grey;
}
.form-control.white{
	border: 1px solid #fff;
}
.form-control > input{
	outline: none;
	border: none;
	width: 100%;
	background-color: transparent;
}
.konsultasi .form-control > input::placeholder{
	color: #fff;
	opacity: 1;
}
.form-control.large > input{
	height: 40px;
}
.form-control-icon{
	width: 20px;	
	position: relative;
	top: 2px;
}
.form-control-icon.right{ margin-left: 8px; }
.form-control-icon.left{ margin-right: 8px; }
.rotate90{ transform: rotate(90deg); }
.form-control-message{
	font-size: 12px;
}
.select{
	display: block;
	position: relative;
}
.option{
	padding: 0;
	list-style: none;
	position: absolute;
	left: 0;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	background-color: #fff;	
	display: none;
}
.option.bottom{
	bottom: -20px;	
}
.option.top{
	top: -20px;	
}
.option > li{
	padding: 4px 8px;
	cursor: pointer;
}
.option > li:hover{
	background-color: rgb(241,188,54);
}
/*card*/
.card{
	background-color: #fff;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.card-header, .card-footer{
	padding: 16px;
}
.card-body{
	padding: 0px 16px;
}
/*grid system*/
.row{
	display: flex;
	margin: 0 -16px;
}
.col{
	padding: 0 16px;
}
.col-3{ width: 25%; }
.col-4{ width: 33.333%; }
.col-6{ width: 50%; }
.col-8{ width: 66.667%; }
/*width*/
.w-40{ width: 40%; }
.w-60{ width: 60%; }
.w-100{ width: 100%; }
/*button*/
.btn{
	outline: none;
	border: none;
	background-color: rgb(241,188,54);
	color: #fff;
	padding: 8px 16px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: .5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.btn:hover{
	background-color: rgba(241,188,54,0.8);	
}
.btn-outline{
	border: 2px solid rgba(241,188,54,0.8);
	color: rgba(241,188,54,0.8);
	background-color: transparent;
}
.btn.btn-outline:hover{
	background-color: rgba(241,188,54,1);	
	color: #fff;
}
.btn-outline.btn-white{
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
}
.btn-large{ padding: 16px 8px; }
/*header*/
header{
	padding: 16px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	box-shadow: 4px 0 8px silver;	
	background-color: #fff;
	z-index: 1000;
}
header img{ width: auto; }
.logo{
	height: 50px;
	width: auto;
}
.header, .navbar-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar{ 
	/*margin-top: 16px; */
	z-index: 99;
	padding: 16px 0;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-70px);
	transition: transform 0.3s ease;
}
.navbar.active{
	transform: translateY(0);
	box-shadow: 4px 0 8px silver;	
}
.nav-link{
	text-decoration: none;
	font-weight: bold;
	padding: 4px 16px;
	color: inherit;
	transition: color 0.2s ease;
	cursor: pointer;
}
.nav-link:hover{
	color: rgb(241,188,54);
}
.nav-link.active{
	background-color: rgb(241,188,54);
	box-shadow: 0 2px 8px silver;
	border-radius: 100px;
	transition: all 0.2s ease;
}
.nav-link.active:hover{
	color: inherit;
}
.search{
	width: 200px;
}
.dropdown{ 
	padding: 4px 16px;
	position: relative; 
	font-weight: bold;
}
.dropdown-menu{
	position: absolute;
	display: none;
	left: 0;
	top: -16px;
	background-color: #fff;
	box-shadow: 0 0 8px silver;
	padding: 4px 0;
	list-style: none;
}
.dropdown-menu li{ padding: 4px 0; }
.dropdown:hover .dropdown-menu{ display: block; }
/*banner*/
.banner{
	margin-top: 125px;
	padding-top: 40px;
	padding-bottom: 56px;
}
/*plan*/
.plan{ padding: 32px 0; }
/*features*/
.features img{ width: auto; }
/*energy*/
.energy img{ width: auto; }
/*app*/
.app, .project{
	padding: 64px 0;
	background-color: rgba(241,188,54,0.2);
}
.app img{ width: auto; }
/*project*/
.carousel-project{
	display: flex;
	align-items: center;
}
.slide-project{ display: none; }
.slide-project.active{ display: flex; }
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.carousel-nav{
	width: 150px;
	cursor: pointer;
	background-color: rgba(241,188,54,0.8);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-nav.left{
	margin-right: 32px;
	margin-left: -32px; 
}
.carousel-nav.right{
	margin-right: -32px;
	margin-left: 32px; 
}
.left-nav-mobile{
	/*margin-right: 32px;*/
	margin-right: -32px !important; 
	position: relative;
}
.right-nav-mobile{
	margin-left: -32px !important;
	position: relative;
	/*margin-left: 32px; */
}
.img-project{ border-radius: 10px; }
/*testimoni*/
.testimoni{
	padding-left: 32px !important;
	padding-right: 32px !important;
}
.carousel-testimoni{
	display: flex;
	align-items: center;
}
.carousel-container{
	width: 100%;
	display: flex;
	position: relative;
}
.slide-testimoni{
	border-radius: 10px;
	overflow: hidden;
	transition: transform 0.3s ease;
	opacity: 0.7;
}
.slide-testimoni.active{
	transform: scale(1.2);
	opacity: 1;
	z-index: 1;
}
.img-testimoni{
	width: 100px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 16px;
}
.icon-testimoni{
	width: 48px;
	padding: 8px;
	border-radius: 100%;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testimoni-nav{
	position: absolute;
	z-index: 2;
	width: 70px;
}
.testimoni-nav.left{ left: 25%; }
.testimoni-nav.right{ right: 25%; }
/*consultation*/
.consultation-call{
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	margin: 0 -16px;
	color: #fff;
}
/*team*/
.carousel-team{
	/*width: 1660px;	*/
	margin: 0 -100px;
	position: relative;
}
.slide-team{
	width: 20%;
	padding: 0 16px;
	padding-top: 30px;
	transform: margin-top 0.3s ease;
}
.slide-team.active{
	margin-top: -30px;
}
.team-sosmed{ width: 30px;margin: 0 8px; }
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}
.dot:hover {
  background-color: #717171;
}
.dot.active{
  background-color: #717171;	
}
.team-image{ position: relative; }
.team-desc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,162,232,0.3);
	align-items: center;
	padding: 16px;
	color: #fff;
	display: flex;
	visibility: hidden;
}
.team-image:hover .team-desc{ visibility: visible; }
.carousel-team-nav{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
}
.carousel-team-nav.left{ left: 15%; }
.carousel-team-nav.right{ right: 15%; }
/*partner*/
.partner img{ width: auto;margin: 0 32px; }
/*send*/
.send{ 
	padding: 3rem 16px;
}
/*footer*/
footer img{ width: auto; }
.footer{
	margin: 0;
	padding: 8px 0;
	color: #fff;
	background-color: rgb(241,188,54);
}
footer a{
	text-decoration: none;
	color: inherit;
}
/*sidemenu*/
.sidemenu{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}	
.sidemenu.active{ transform: translateX(0);  }
.sidemenu-screen{
	background-color: transparent;
	width: 100%;
	height: 100%;
	display: block;
}
.sidemenu-nav{
	position: absolute;
	width: 80%;
	height: 100%;
	background-color: #fff;
	top: 0;
	box-shadow: 0 8px 16px silver;
	left: 0;
}
.sidemenu-header{
	padding: 8px;
}
.sidemenu-header img{ width: auto; }
.sidemenu-list{
	margin-top: 16px;
	margin-left: -8px;
	margin-right: -8px;
	padding: 0;
	list-style: none;
}
.sidemenu li a{
	width: 100%;
	padding: 8px 8px;
	text-transform: uppercase;
	display: block;
	color: #000;
	text-decoration: none;
}
.sidemenu li a.active{
	color: #fff;
	background-color: rgb(241,188,54);
}

@media screen and (max-width: 400px){
	.container{ width: 100%; }
	.d-sm-none{ display: none; }
	.d-lg-none{ display: block !important; }
	.px-sm-0{ padding-left: 0;padding-right: 0; }
	.py-6{ padding: 1.5rem 0 !important; }
	.py-sm-3{ padding: 1.5rem 0 !important; }
	.mb-sm-2{ margin-bottom: 1rem; }	
	.mb-6{ margin-bottom: 3rem; }
	.mb-5{ margin-bottom: 1.5rem; }
	.headline{ font-size: 1.5rem; }
	.text-sm-center{ text-align: center; }
	.row{ flex-wrap: wrap; }
	.col-sm-12{ width: 100% !important; }
	.line{ width: 30px;display: none; }
	.logo{ height: 30px; }
	.navbar{ padding: 8px 0; }
	.banner{ 
		margin-top: 113px; 
		padding-top: 16px;
		padding-bottom: 30px;
	}
	.plan .d-flex{ flex-wrap: wrap;justify-content: center; }
	.energy .justify-end{ justify-content: center; }
	.app, .project, .plan{ padding: 16px 0; }
	.send{ padding: 16px; }	
}